/*----FONT FAMILY ----*/

@font-face {
    font-family: 'opensans-regular';
    src: url('../fonts/opensans-regular.woff2') format('woff2'), url('../fonts/opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* ----- BODY, HTML and Main Width --- */

body {
    color: #fff;
    font-family: "opensans-regular", sans-serif;
}

.main_width {
    width: 930px;
    margin: 0 auto;
}


/*------ HEADER ------- */

header {
    background-image: url('../images/header.jpg');
    height: 715px;
}

.img_header {
    float: left;
}

.nav {
    float: right;
    color: #fff;
}

.nav li {
    font-size: 14px;
    display: inline-block;
    padding: 20px 0 0 15px;
}

header h2 {
    font-size: 24px;
    margin-top: 230px;
    padding-left: 5px;
}

header h1 {
    font-size: 60px;
}

header button {
    font-size: 16px;
    border: none;
    color: #fff;
    background-color: #e92121;
    padding: 10px;
    margin-left: 5px;
}


/*------SECTION1------*/

.main_section {
    height: 300px;
}

.box h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    color: #464646;
}

.box {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

div.box:first-of-type {
    margin-top: 235px;
}

.box p {
    font-size: 16px;
    margin-top: 20px;
    color: #b7b7b7;
}
